* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {
    /* colors */
    --main-color: #ff9f0d;
    --text-color: #fff;
    --first-color: #212121;
    --second-color: #9e9e9e;
    --background-color: #1A141A;

    /* Font measures */
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}




body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50 ease;
}

.logo {
    display: flex;
    align-items: center;

}



.navlist {
    display: flex;
    height: 100%;

}

.navlist a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 30px;
    transition: all .50s ease;
}

.navlist a:hover {
    color: var(--main-color);
    /* transform: scale(1.1); */
}

.navlist a.home {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: var(--main-color);
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}



.nav-icons i {
    vertical-align: middle;
    font-size: 14px;
    color: var(--background-color);
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;
}


#menu-icon {
    font-size: 32px;
    color: var(--background-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

.logo img {
    height: 64px;
    width: 64px;
    vertical-align: middle;
    margin-right: 8px;

}

section {
    padding: 70px 14% 60px;

}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 2rem;
}

.home-img img {
    width: 100%;
    height: auto
}

.home-text {
    font-size: 50px;
}

.home-text h1 {
    font-size: var(--big-color);
    font-weight: 700px;
    line-height: 1.3;
    margin-bottom: 3rem;


}